#canvas {
  background: #eee;
  
  /* centering http://designshack.net/articles/css/how-to-center-anything-with-css/ */
  position: absolute;
  height: 400px;
  width: 600px;
  margin-top: -200px;
  margin-left: -300px;
  left: 50%;
  top: 50%;
}
 
