* {
  box-sizing: border-box;
}

#game-field {
  border: 1px black solid;

  /* centering http://designshack.net/articles/css/how-to-center-anything-with-css/ */
  position: absolute;
  height: 800px;
  width: 1000px;
  margin-top: -400px;
  margin-left: -500px;
  left: 50%;
  top: 50%;
  overflow: hidden;
}

#svg {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
}

.control-panel {
  width: 100px;
  height: 50px;
  position: relative;
}

#players-panel {
  background-color: blue;
  left: 10px;
  top: 20px;
}

#opponents-panel {
  background-color: red;
  left: 200px;
  top: 20px;
}


.piece {
  cursor: pointer;
  position: absolute;
}

.cell {
  stroke: black;
}

.cell-ordinal {
  fill: white;
}

.cell-highlited {
  fill: lightgray;
}